ol.bibliography {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.pubitem {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

.papertitle {
  font-weight: 700;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.35rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: center;
}

.hidden {
  display: none !important;
}